@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600&family=Poppins&display=swap');

:root {
   --primary_color: #FBFBFB;
   --secondary_color: #414141;
   --third_color: #FFCC26;
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--secondary_color);
}